<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
		<link rel="stylesheet" href="css/pickadate-material.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/picker.js"></script>
		<script src="js/picker.date.js"></script>
		<script src="js/main.js"></script>
		<script>
			var questions = {{ questions|json_encode|raw }};
		</script>
	</head>
	<body class="mdc-typography">
		<div class="wrap">
			<div class="inner">

				<div id="introduction">
					Choose the rights you want to license.<br>
					<br>
					<button id="start" type="button" class="mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Start</button>
				</div>

				<div id="questions">
					<div class="mdc-card mdc-elevation--z2">
						<div id="questions-slider">
							<div class="container">
								{% for idx, question in questions %}

									<section id="question-{{ idx }}" data-idx="{{ idx }}" class="{{ question.type }}{% if question.required %} required{% endif %}">
										<div class="mdc-card__media mdc-theme--primary-bg">
											<section class="mdc-card__primary">
												<h1 class="mdc-card__title mdc-card__title--large">{{ question.name }}</h1>
											</section>
										</div>

										<div class="card-content">

											<h3>{{ question.question }}</h3>

											{% if question.type == 'radio' %}

												<div class="choices">

													{% for _idx, choice in question.choices %}

														{% if not loop.first %}

															<br>

														{% endif %}

														{% if choice.type == 'checkbox' %}

															<div class="mdc-form-field">
																<div class="mdc-checkbox">
																	<input type="checkbox" id="question-{{ idx }}-{{ _idx }}" class="mdc-checkbox__native-control" value="{{ _idx }}">
																	<div class="mdc-checkbox__background">
																		<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
																			<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
																		</svg>
																		<div class="mdc-checkbox__mixedmark"></div>
																	</div>
																</div>

																<label for="question-{{ idx }}-{{ _idx }}">{{ choice.name }}</label>
															</div>

														{% else %}

															<div class="mdc-form-field">
																<div class="mdc-radio">
																	<input class="mdc-radio__native-control" type="radio" id="question-{{ idx }}-{{ _idx }}" name="question-{{ idx }}" value="{{ _idx }}">
																	<div class="mdc-radio__background">
																		<div class="mdc-radio__outer-circle"></div>
																		<div class="mdc-radio__inner-circle"></div>
																	</div>
																</div>

																<label for="question-{{ idx }}-{{ _idx }}">{{ choice.name }}</label>
															</div>

														{% endif %}

													{% endfor %}

												</div>

											{% endif %}

											{% if question.type == 'checkbox' %}

												<div class="choices">

													{% for _idx, choice in question.choices %}

														{% if not loop.first %}

															<br>

														{% endif %}

														<div class="mdc-form-field">
															<div class="mdc-checkbox">
																<input type="checkbox" id="question-{{ idx }}-{{ _idx }}" class="mdc-checkbox__native-control" value="{{ _idx }}">
																<div class="mdc-checkbox__background">
																	<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
																		<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
																	</svg>
																	<div class="mdc-checkbox__mixedmark"></div>
																</div>
															</div>

															<label for="question-{{ idx }}-{{ _idx }}">{{ choice.name }}</label>
														</div>

													{% endfor %}

												</div>

											{% endif %}

											{% if question.type == 'date' %}

												{% for _idx, date in question.dates %}

													<div class="date-aligner">

														<div>
															<div class="mdc-textfield" data-idx="{{ _idx }}" aria-controls="help-{{ idx }}-{{ _idx }}" data-mdc-auto-init="MDCTextfield">
																<input type="text" id="question-{{ idx }}-{{ _idx }}" class="mdc-textfield__input pickadate-here">
																<label class="mdc-textfield__label" for="question-{{ idx }}-{{ _idx }}">{{ date.name }}</label>
																<div class="mdc-textfield__bottom-line"></div>
															</div>

															<label id="help-{{ idx }}-{{ _idx }}" class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" aria-hidden="true">&nbsp;</label>
														</div>
														<button class="mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Select</button>

													</div>

												{% endfor %}

											{% endif %}

											{% if question.type == 'multiselect' %}

												<div class="row">
													<select class="mdc-select">

														<option value="" default selected>Select a country</option>

														{% for name, code in question.choices %}

															<option value="{{ code }}">
																{{ name }}
															</option>

														{% endfor %}

													</select>

													<button class="remove mdc-button mdc-button--dense mdc-button--compact" data-mdc-auto-init="MDCRipple">Remove</button>
												</div>

												<button class="add mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Add</button>

											{% endif %}

										</div>
									</section>

								{% endfor %}
							</div>
						</div>
						<section class="mdc-card__actions">
							<div class="w-60">
								Question&nbsp;<span id="page-count">1</span>&nbsp;of {{ questions|length }}
								<div role="progressbar" class="mdc-linear-progress" id="progress" data-mdc-auto-init="MDCLinearProgress">
									<div class="mdc-linear-progress__buffer"></div>
									<div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
										<span class="mdc-linear-progress__bar-inner"></span>
									</div>
									<div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
										<span class="mdc-linear-progress__bar-inner"></span>
									</div>
								</div>
							</div>

							<div class="w-40">
								<button class="back mdc-button mdc-button--raised mdc-button--accent" data-mdc-auto-init="MDCRipple" disabled>Back</button>
								<button class="continue mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Continue</button>
							</div>
						</section>
					</div>
				</div>

				<div id="result">
					<h2>Your Rights Profile Code is:</h2>
					<div id="rights-profile-code"></div>

					<span>
						The output below is a rights profile in JSON code that can be validated with the validator that you can find in the footer.
						We are working on additional layers that will complete the output, notably by adding a "legal layer", i.e. the valid license text, as well as a short summary of the chosen options in understandable plain text.
					</span>
					<pre id="rights-profile-json"></pre>

					<span>You may validate this or any other rights profile JSON data <a href="https://rightsprofiledemo.content-blockchain.org/validator.php">here</a></span>
				</div>

			</div>

			<footer class="mdc-theme--background mdc-elevation--z1">
				<span class="mdc-theme--primary">This dummy is work in progress. Its purpose is to give you an impression of how our rights modules work. Please feel free to give us <a href="https://content-blockchain.org/contact/" target="_blank">feedback!</a></span><br>
				<br>
				<a href="https://rightsprofiledemo.content-blockchain.org/validator.php">Rights Profile Validator</a>
				&nbsp;|&nbsp;
				<a href="https://isccdemo.content-blockchain.org">ISCC Demo</a>
				&nbsp;|&nbsp;
				<a href="https://github.com/coblo/rights-profile-tool">Source Code</a>
				&nbsp;|&nbsp;
				Copyright © 2017 <a href="https://content-blockchain.org">CBP</a>
			</footer>
		</div>

		<div id="toast-container" class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true" data-mdc-auto-init="MDCSnackbar">
			<div class="mdc-snackbar__text"></div>
			<div class="mdc-snackbar__action-wrapper">
				<button type="button" class="mdc-button mdc-snackbar__action-button"></button>
			</div>
		</div>

		<script src="node_modules/material-components-web/dist/material-components-web.js"></script>
		<script>mdc.autoInit();</script>
	</body>
</html>
