<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
		<link rel="stylesheet" href="css/pickadate-material.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/picker.js"></script>
		<script src="js/picker.date.js"></script>
		<script src="js/main.js"></script>
		<script>
			var questions = {{ questions|json_encode|raw }};
		</script>
	</head>
	<body class="mdc-typography">
		<div class="wrap">
			<div id="introduction">
				todo: add text<br>
				<br>
				<button id="start" type="button" class="mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Start</button>
			</div>

			<div id="questions">
				<div class="mdc-card mdc-elevation--z2">
					<div id="questions-slider">
						<div class="container">
							{% for idx, question in questions %}

								<section id="question-{{ idx }}" data-idx="{{ idx }}" class="{{ question.type }}{% if question.required %} required{% endif %}">
									<div class="mdc-card__media mdc-theme--primary-bg">
										<section class="mdc-card__primary">
											<h1 class="mdc-card__title mdc-card__title--large">{{ question.name }}</h1>
										</section>
									</div>

									<div class="card-content">

										<div class="mdc-card__supporting-text">{{ question.text|raw }}</div>

										<h3>{{ question.question }}</h3>

										{% if question.type == 'radio' %}

											<div class="choices">

												{% for _idx, choice in question.choices %}

													{% if not loop.first %}

														<br>

													{% endif %}

													{% if choice.type == 'checkbox' %}

														<div class="mdc-form-field">
															<div class="mdc-checkbox">
																<input type="checkbox" id="question-{{ idx }}-{{ _idx }}" class="mdc-checkbox__native-control" value="{{ _idx }}">
																<div class="mdc-checkbox__background">
																	<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
																		<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
																	</svg>
																	<div class="mdc-checkbox__mixedmark"></div>
																</div>
															</div>

															<label for="question-{{ idx }}-{{ _idx }}">{{ choice.name }}</label>
														</div>

													{% else %}

														<div class="mdc-form-field">
															<div class="mdc-radio">
																<input class="mdc-radio__native-control" type="radio" id="question-{{ idx }}-{{ _idx }}" name="question-{{ idx }}" value="{{ _idx }}">
																<div class="mdc-radio__background">
																	<div class="mdc-radio__outer-circle"></div>
																	<div class="mdc-radio__inner-circle"></div>
																</div>
															</div>

															<label for="question-{{ idx }}-{{ _idx }}">{{ choice.name }}</label>
														</div>

													{% endif %}

												{% endfor %}

											</div>

										{% endif %}

										{% if question.type == 'checkbox' %}

											<div class="choices">

												{% for _idx, choice in question.choices %}

													{% if not loop.first %}

														<br>

													{% endif %}

													<div class="mdc-form-field">
														<div class="mdc-checkbox">
															<input type="checkbox" id="question-{{ idx }}-{{ _idx }}" class="mdc-checkbox__native-control" value="{{ _idx }}">
															<div class="mdc-checkbox__background">
																<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
																	<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
																</svg>
																<div class="mdc-checkbox__mixedmark"></div>
															</div>
														</div>

														<label for="question-{{ idx }}-{{ _idx }}">{{ choice.name }}</label>
													</div>

												{% endfor %}

											</div>

										{% endif %}

										{% if question.type == 'date' %}

											{% for _idx, date in question.dates %}

												<div class="date-aligner">

													<div>
														<div class="mdc-textfield" data-idx="{{ _idx }}" aria-controls="help-{{ idx }}-{{ _idx }}" data-mdc-auto-init="MDCTextfield">
															<input type="text" id="question-{{ idx }}-{{ _idx }}" class="mdc-textfield__input pickadate-here">
															<label class="mdc-textfield__label" for="question-{{ idx }}-{{ _idx }}">{{ date.name }}</label>
															<div class="mdc-textfield__bottom-line"></div>
														</div>

														<label id="help-{{ idx }}-{{ _idx }}" class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" aria-hidden="true">&nbsp;</label>
													</div>
													<button class="mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Select</button>

												</div>

											{% endfor %}

										{% endif %}

										{% if question.type == 'multiselect' %}

											<div class="row">
												<select class="mdc-select">

													<option value="" default selected>Select a country</option>

													{% for name, code in question.choices %}

														<option value="{{ code }}">
															{{ name }}
														</option>

													{% endfor %}

												</select>

												<button class="remove mdc-button mdc-button--dense mdc-button--compact" data-mdc-auto-init="MDCRipple">Remove</button>
											</div>

											<button class="add mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Add</button>

										{% endif %}

									</div>
								</section>

							{% endfor %}
						</div>
					</div>
					<section class="mdc-card__actions">
						<div class="w-60">
							Question&nbsp;<span id="page-count">1</span>&nbsp;of {{ questions|length }}
							<div role="progressbar" class="mdc-linear-progress" id="progress" data-mdc-auto-init="MDCLinearProgress">
								<div class="mdc-linear-progress__buffer"></div>
								<div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
									<span class="mdc-linear-progress__bar-inner"></span>
								</div>
								<div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
									<span class="mdc-linear-progress__bar-inner"></span>
								</div>
							</div>
						</div>

						<div class="w-40">
							<button class="back mdc-button mdc-button--raised mdc-button--accent" data-mdc-auto-init="MDCRipple" disabled>Back</button>
							<button class="continue mdc-button mdc-button--raised mdc-button--primary" data-mdc-auto-init="MDCRipple">Continue</button>
						</div>
					</section>
				</div>
			</div>

			<div id="result">
				Your Rights Profile Code is:
				<pre id="rights-profile-code"></pre>
			</div>
		</div>

		<div id="toast-container" class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true" data-mdc-auto-init="MDCSnackbar">
			<div class="mdc-snackbar__text"></div>
			<div class="mdc-snackbar__action-wrapper">
				<button type="button" class="mdc-button mdc-snackbar__action-button"></button>
			</div>
		</div>

		<script src="node_modules/material-components-web/dist/material-components-web.js"></script>
		<script>mdc.autoInit();</script>
	</body>
</html>
